<!DOCTYPE html>
<html>
<body>

<h1>Contact us</h1>

<p>- Zelig Bouillot :</p>
<p>Slack @zelig</p><br/><br/>
<p>- Thomas Delage</p>
<p>Slack : @thomas delage</p><br/><br/>
<p>- Paul Poitrenaud</p>
<p>Slack : @polo</p><br/><br/>

</body>
</html>