<!DOCTYPE html>
<html>

<body>

<p> "Quel est ton nom ?" </p>


<form action="/" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="text" name="first_name">
<input type="submit" name="Envoyer"/>

</form>

</body>
</html>