<h1>Welcome <%= params["first_name"] %> </h1>


<% Gossip.all.each do |gossip| %>

<%= gossip.user.first_name %>

<%= gossip.title %>

<a href="/gossip/<%= gossip.id %>/"> Lien vers le potin  </a> <br/>

<% end %>
