<h1> Gossips </h1>
<div class="jumbotron">
      <div class="container"style="text-align:center; background: radial-gradient(rgba(0, 0, 0, 0.9) -4%, rgba(0, 0, 0, 0) 68%);">
        <h1 class="display-3">Bienvenue !</h1>
      <p>Hello sweetie! Alors comme ça tu aimes les potins ? Ça tombe bien, on en a quelques uns pour toi en stock.<br>D'ailleurs, si il y a quelque chose que l'on ne sait pas, n'hésite à le partager avec la communauté .</p>
        <p><a class="btn btn-primary btn-lg" href="/gossips/new" role="button">Créer ton potin &raquo;</a></p>
      </div>
    </div>

<% @gossips.each do |gossip|%>
<h2><%= gossip.title%></h2>
<p><%= gossip.content%></p>
<p>
  <a href="<%= gossip_path(gossip.id)%>" class="btn btn-primary">Lire la suite</a>
</p>
<% end %>