<body class="text-center text-black" >
<br>	<h2>Notre equipe</h2><br><br><br>

<h5>- Zelig Bouillot <br/><br>
- Thomas Delage <br/><br>
- Barbara Cano <br/><br>
- Paul Poitrenaud  </h5>

<br><br><br><br><br><br><br><br></body>