<center><h1> Les villes </h1></center><br>

<% @cities.each do |city|%>
<h5>‣ <%= city.name%>  <a href="<%= city_path(city.id)%>" class="text-dark" > >> voir les gossips de cette ville <<</a></h5>

<% end %>
<br><br><br><br>