<body><h1 class="text-center"><%= @cities.name %></h1>


<p> <% @cities.users.each do |user| %>
    <% user.gossips.each do |gossip| %>
    <hr><h3><%= gossip.title %></h3>
    <p><%= gossip.content %></p>
    <% end %>
    <% end %>
      <a href="<%= cities_path %>" class="btn btn-primary">Revenir aux villes</a> 
</p></body>