<h1>Contact us</h1>

<p>- Zelig Bouillot :</p>
<p>Slack <a href="https://app.slack.com/client/T3W8B88JW/DPFU142H3/user_profile/UNWGCPK0X">@zelig</a></p><br/>
<p>- Thomas Delage</p>
<p>Slack : <a href="https://app.slack.com/client/T3W8B88JW/DPMEZKD2N/user_profile/UNU6XT2QL">@thomas delage</a></p><br/>
<p>- Barbara Cano</p>
<p>Slack : <a href="https://app.slack.com/client/T3W8B88JW/DPFU142H3/user_profile/UNH6MCM99">@barbara cano</a></p><br/>
<p>- Paul Poitrenaud</p>
<p>Slack : <a href="https://app.slack.com/client/T3W8B88JW/DNT4BNBAP/user_profile/UNN87D117">@polo</a></p><br/>