<body class="text-center text-black" >
	<br><h2>Nous contacter sur Slack</h2><br><br><br>

<h5>- Zelig Bouillot >>> <a href="https://app.slack.com/client/T3W8B88JW/DPFU142H3/user_profile/UNWGCPK0X" class="text-dark">@zelig</a> <<< <br/><br>
- Thomas Delage >>> <a href="https://app.slack.com/client/T3W8B88JW/DPMEZKD2N/user_profile/UNU6XT2QL" class="text-dark">@thomas delage</a> <<< <br/><br>
- Barbara Cano >>> <a href="https://app.slack.com/client/T3W8B88JW/DPFU142H3/user_profile/UNH6MCM99" class="text-dark">@barbara cano</a> <<< <br/><br>
- Paul Poitrenaud >>> <a href="https://app.slack.com/client/T3W8B88JW/DNT4BNBAP/user_profile/UNN87D117" class="text-dark">@polo</a> <<< </h5>

<br><br><br><br><br><br><br><br></body>